body {
    background-image: url(files/Fitness-Wallpaper-HD-1080p.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.voltar{
    position: fixed;
    transform: translateY(-50%);
    width: 100px;
    height: 42px;
    background-color: #A9A9A9;  
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 90px;
    border-radius: 5px;
}

.back{
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 25px;
    text-align: center;
}
 

.peito1{
    position: relative;
    top: 0;
    left: 22%;
    border-radius: 12px;
    
}

.supinohaltere{
    position: absolute;
  bottom: 0;
  left: 24%;
  width: 15%;
  text-align: center;
  background-color: #f5f5f5;
  padding: 10px 0;
  font-size: 1.2rem;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  border-radius: 6px;
  }

  .supino1-video{
    position: relative;
  }